/**
    Deixa o rodapé sempre na parte inferior
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Roboto", serif;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #BA0000;
}

header{
    background-color: #BA0000;
}
/*
@font-face {
    font-family: Roboto;
    src: url(../node_modules/materialize-css/fonts/roboto/Roboto-Light.ttf);
}

.utf-logo-nav{
    width: 8em;
    margin-top: 1em;
}

.utf-info{
    font-weight: 900;
    text-transform: uppercase;
}




